body {
  background-color: #111133;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  text-align: center;
  margin: 5% 25%;
}
#editor-div {
  width: 550px;
  height: 350px;
  padding: 5px;
  background-color: #112277;
  border-radius: 20px;
  margin: 20% 0;

}
#editor {
  width: 300px;
  height: 150px;
}
@media (max-width: 950px) {
  body {
    margin: 5% 20%;
  }
  #editor-div {
    width: 100%;
  }
  #editor {
    width: 80%;
  }
}
@media (max-width: 650px) {
  body {
    font-size: 1rem;
    margin: 5% 10% 5% 5%;
  }
  #editor-div {
    width: 100%;
  }
  #editor {
    width: 90%;
    height: 60%;
  }
  #preview {
    font-size: 0.9rem;
  }
}
